html {
  font-size: 16px; /* Esto hace que 1rem = 16px */
}

/*Fuente Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3.812rem;
}

h2 {
  font-size: 3.062rem;
  margin: 0;
}

h3 {
  font-size: 2.438rem;
}

h4 {
  font-size: 1.938rem;
  margin: 0;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 1.562rem;
}

.small {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
}

.superSmall {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.thin {
  font-weight: 100;
}

.thinItalic {
  font-weight: 100;
  font-style: italic;
}

.extraLight {
  font-weight: 200;
}

.extraLightItalic {
  font-weight: 200;
  font-style: italic;
}

.light {
  font-weight: 300;
}

.lightItalic {
  font-weight: 300;
  font-style: italic;
}

.regular {
  font-weight: 400;
}

.regularItalic {
  font-weight: 400;
  font-style: italic;
}

.medium {
  font-weight: 500;
}

.mediumItalic {
  font-weight: 500;
  font-style: italic;
}

.semiBold {
  font-weight: 600;
}

.semiBoldItalic {
  font-weight: 600;
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.boldItalic {
  font-weight: 700;
  font-style: italic;
}

.extraBold {
  font-weight: 800;
}

.extraBoldItalic {
  font-weight: 800;
  font-style: italic;
}

.black {
  font-weight: 900;
}

.blackItalic {
  font-weight: 900;
  font-style: italic;
}

.colorWhite {
  color: #ffffff;
}

.colorWhiteBone {
  color: #f3f1f1;
}

.colorYellow {
  color: #f6cc2c;
}

.colorBlue {
  color: #152046;
}

.colorGrey {
  color: #273340;
}

.colorPurpleLight {
  color: #96a4d3;
}

.colorBrown {
  color: #aa8f76;
}

.colorCyan {
  color: #307981;
}

.colorRed {
  color: #db4833;
}

.colorBlack {
  color: #000000;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 1023px;
$bp-desktop: 1439px;
$bp-other: 2559px;

// @media (max-width: $bp-tablet) {
//   /* estilos móviles */

//   body {
//     width: 100%;
//     height: auto;

//     .layout {
//       width: 100%;
//       height: auto;
//       display: flex;
//       flex-direction: column;
//     }

//     .conteiner {
//       width: 100%;
//       height: auto;
//       border: 1px solid #000;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       text-align: center;
//       flex-wrap: wrap;

//       .movile {
//         // display: none;
//       }
//       .tablet {
//         display: none;
//       }
//       .laptop {
//         display: none;
//       }
//       .desktop {
//         display: none;
//       }
//       .others {
//         display: none;
//       }

//       .box {
//         // width: 15%;
//         // height: 40vh;
//         border: 1px solid #000;
//         background-color: antiquewhite;
//       }
//     }
//   }
// }
// @media (min-width: $bp-tablet) and (max-width: $bp-laptop) {
//   /* estilos tablets */

//   body {
//     width: 100%;
//     height: 100vh;

//     .layout {
//       width: 100%;
//       height: auto;
//       display: flex;
//       flex-direction: column;
//     }

//     .conteiner {
//       width: 100%;
//       height: auto;
//       border: 1px solid #000;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       text-align: center;

//       .movile {
//         display: none;
//       }
//       .tablet {
//         // display: none;
//       }
//       .laptop {
//         display: none;
//       }
//       .desktop {
//         display: none;
//       }
//       .others {
//         display: none;
//       }

//       .box {
//         width: 15%;
//         height: 40vh;
//         border: 1px solid #000;
//         background-color: antiquewhite;
//       }
//     }
//   }
// }
// @media (min-width: $bp-laptop) and (max-width: $bp-desktop) {
//   /* estilos latops */

//   body {
//     width: 100%;
//     height: 100vh;

//     .layout {
//       //   width: 100%;
//       //   height: 100vh;
//       display: flex;
//       flex-direction: row;
//     }

//     .conteiner {
//       //   width: 100%;
//       //   height: 100vh;
//       border: 1px solid #000;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       text-align: center;

//       .movile {
//         display: none;
//       }
//       .tablet {
//         display: none;
//       }
//       .laptop {
//         // display: none;
//       }
//       .desktop {
//         display: none;
//       }
//       .others {
//         display: none;
//       }

//       .box {
//         width: 15%;
//         height: 40vh;
//         border: 1px solid #000;
//         background-color: antiquewhite;
//       }
//     }
//   }
// }
// @media (min-width: $bp-desktop) and (max-width: $bp-other) {
//   /* estilos desktops */

//   body {
//     width: 100%;
//     height: 100vh;

//     .layout {
//       //   width: 100%;
//       //   height: 100vh;
//       display: flex;
//       flex-direction: row;
//     }

//     .conteiner {
//       width: 100%;
//       height: auto;
//       border: 1px solid #000;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       text-align: center;

//       .movile {
//         display: none;
//       }
//       .tablet {
//         display: none;
//       }
//       .laptop {
//         display: none;
//       }
//       .desktop {
//         // display: none;
//       }
//       .others {
//         display: none;
//       }

//       .box {
//         width: 15%;
//         height: 40vh;
//         border: 1px solid #000;
//         background-color: antiquewhite;
//       }
//     }
//   }
// }
// @media (min-width: $bp-other) {
//   /* estilos de dispositivos mas granes */

//   body {
//     width: 100%;
//     height: 100vh;

//     .layout {
//       width: 100%;
//       height: auto;
//       display: flex;
//       flex-direction: row;
//     }

//     .conteiner {
//       width: 50%;
//       height: auto;
//       border: 1px solid #000;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       text-align: center;

//       .movile {
//         display: none;
//       }
//       .tablet {
//         display: none;
//       }
//       .laptop {
//         display: none;
//       }
//       .desktop {
//         display: none;
//       }
//       .others {
//         // display: none;
//       }

//       .box {
//         // width: 50%;
//         // height: 10vh;
//         border: 1px solid #000;
//         background-color: antiquewhite;
//       }
//     }
//   }
// }

.navbarSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  .conteinerNavbar {
    width: auto;
    height: auto;
    // background-color: #307981;

    .navbar {
      width: auto;
      height: auto;
      padding: 4px 8px;
      background-color: #ffffff;
      border-radius: 12px;

      .p-menubar-item-content {
        border-radius: 8px;

        &:hover {
          background-color: #273340;

          .p-menubar-item-label {
            color: #ffffff; // cambia a blanco al hacer hover sobre el item
            font-weight: 500;
          }

          .p-menubar-item-icon {
            color: #ffffff;
            font-weight: 500;
          }
        }
      }

      .p-menubar-item-label {
        color: #000;
        transition: color 0.3s ease;
      }
    }
  }
}

.heroSection {
  .conteinerBg {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .backgroundVideo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }

    .content {
      width: 75%;
      height: 35%;
      background-color: #0006;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 115px;
      border-radius: 20px;
      text-align: center;
      box-shadow: 0 0 40.5px #96a4d3;
      backdrop-filter: blur(8px); // desenfoque del fondo
    }

    .button {
      .cta {
        background-color: #f6cc2c;
        box-shadow: 0 0 10.5px #f6cc2c;
        border: none;
        border-radius: 12px;
        margin: 0;
        padding: 0;
        padding: 0.5rem 1rem;

        .p-button-label {
          font-size: 1.938rem;
          font-family: 'Poppins', sans-serif;
          font-weight: 900;
          font-style: italic;
          color: #152046;
        }
      }
    }
  }
}

.presentationSection {
  width: 100%;
  height: 60vh;

  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    .content {
      width: 737px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 3rem;

      .title {
        h2 {
          background-image: linear-gradient(to right, #96a4d3 0%, #152046 51%);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }

      .description {
        p {
          margin: 0;
        }
      }

      .buttons {
        width: auto;
        height: auto;
        display: flex;
        gap: 2.25rem;

        .cta {
          background-color: #1e1e1e;
          color: #ffffff;
          border: none;
          border-radius: 12px;
          margin: 0;
          padding: 0;
          padding: 0.5rem 1rem;

          .p-button-label {
            font-weight: 800;
            font-style: italic;
          }

          .p-button-icon {
            font-weight: 800;
          }
        }

        .secondary {
          background-color: #ffffff;
          color: #1e1e1e;
          border-color: #1e1e1e;
          border-radius: 12px;
          margin: 0;
          padding: 0;
          padding: 0.5rem 1rem;

          .p-button-label {
            font-weight: 800;
            font-style: italic;
          }

          .p-button-icon {
            font-weight: 800;
          }
        }
      }
    }

    .videoConteiner {
      width: 28.125rem;
      height: 28.125rem;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 0 40px #273340;

      .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.aboutmeSection {
  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 4rem;

    .imageConteiner {
      width: 380px;
      height: 311px;
      // background-color: #96a4d3;
      box-shadow: 0 0 30px #0008;
    }

    .button {
      .cta {
        background-color: #1e1e1e;
        color: #ffffff;
        border: none;
        border-radius: 12px;
        margin: 0;
        padding: 0;
        padding: 0.5rem 1rem;

        .p-button-label {
          font-weight: 800;
          font-style: italic;
        }

        .p-button-icon {
          font-weight: 800;
        }
      }
    }
  }
}

.tecnologiesSection {
  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    .list {
      width: 100%;
      display: flex;
      // flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .item {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        padding: 0.5rem 1rem;
        margin: 0;
      }
    }
  }
}

.projectsSection {
  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    .content {
      width: 75%;
      height: auto;
      display: flex;
      justify-content: center;
      gap: 2rem;

      .card {
        width: 35%;
        height: auto;
        overflow: hidden;
        box-shadow: 0 0 30px #0008;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        .cardImage {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        .p-card-content {
          display: none; /* Oculta el contenido no utilizado */
        }

        .cardTitle {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #152046;
        }
      }
    }

    .button {
      .cta {
        background-color: #1e1e1e;
        color: #ffffff;
        border: none;
        border-radius: 12px;
        margin: 0;
        padding: 0;
        padding: 0.5rem 1rem;

        .p-button-label {
          font-weight: 800;
          font-style: italic;
        }

        .p-button-icon {
          font-weight: 800;
        }
      }
    }
  }
}

.contactSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    .content {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
      gap: 2rem;

      .videoConteiner {
        width: 50%;
        height: 46.5625rem;
        border-right: 1px solid #000;
        overflow: hidden;

        .video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .formConteiner {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        padding-right: 1rem;

        .form {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .p-inputtext {
            width: 100%;
          }

          .p-textarea {
            width: 100%;
          }
        }

        .button {
          .cta {
            background-color: #96a4d3;
            color: #ffffff;
            border: none;
            border-radius: 12px;
            margin: 0;
            padding: 0;
            padding: 0.5rem 1rem;
            box-shadow: 0 0 20px #152046;

            .p-button-label {
              font-weight: 700;
              font-style: italic;
            }

            .p-button-icon {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.footerSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  .conteiner {
    width: 80.875rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.625rem;
    background-image: url('/src/assets/images/imgFooterBg.jpg');
    background-size: cover;
    position: relative;
    background-position: center;

    .phrase {
      width: 36.5rem;
      height: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      box-shadow: 0 0 45px #0005;
      background-color: #0003;
      backdrop-filter: blur(6px); // desenfoque del fondo
      padding: 1.5rem 0;
    }

    .content {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1.5rem 0;

      .data {
        text-align: center;
      }

      .linksConteiner {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 4rem;

        .navigationLinks {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .title {
            width: auto;
          }

          .items {
            ol {
              width: auto;
              height: auto;
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;
              gap: 1rem;
              margin: 0;
              padding: 0;
            }

            li {
              list-style: none;

              a {
                text-decoration: none;
                color: inherit;
              }
            }
          }
        }

        .followmeLinks {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .title {
            width: auto;
          }

          .items {
            ol {
              width: auto;
              height: auto;
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;
              gap: 1rem;
              margin: 0;
              padding: 0;
            }

            li {
              list-style: none;

              a {
                color: inherit;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
