html {
  font-size: 16px; /* Esto hace que 1rem = 16px */
  font-family: 'Poppins', sans-serif;
}

/*Fuente Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Breakpoints */
//mobile → 0 - 480px
$bp-mobile: 480px;

//tablet → 481 - 1023px
$bp-tablet: 1023px;

//laptop → 1024 - 1279px
$bp-laptop: 1279px;

//desktop → 1280 - 1920 o mas
$bp-desktop: 1280px;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3.812rem;
  margin: 0;

  @media (max-width: $bp-mobile) {
    font-size: 2.1rem;
  }
}

h2 {
  font-size: 3.062rem;
  margin: 0;

  @media (max-width: $bp-mobile) {
    font-size: 1.938rem;
  }
}

h3 {
  font-size: 2.438rem;
  margin: 0;
}

h4 {
  font-size: 1.938rem;
  margin: 0;

  @media (max-width: $bp-mobile) {
    font-size: 1.3rem;
  }
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 1.562rem;

  @media (max-width: $bp-mobile) {
    font-size: 1rem;
  }
}

.small {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;

  @media (max-width: $bp-mobile) {
    font-size: 0.875rem;
  }
}

.superSmall {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin: 0;
}

.thin {
  font-weight: 100;
}

.thinItalic {
  font-weight: 100;
  font-style: italic;
}

.extraLight {
  font-weight: 200;
}

.extraLightItalic {
  font-weight: 200;
  font-style: italic;
}

.light {
  font-weight: 300;
}

.lightItalic {
  font-weight: 300;
  font-style: italic;
}

.regular {
  font-weight: 400;
}

.regularItalic {
  font-weight: 400;
  font-style: italic;
}

.medium {
  font-weight: 500;
}

.mediumItalic {
  font-weight: 500;
  font-style: italic;
}

.semiBold {
  font-weight: 600;
}

.semiBoldItalic {
  font-weight: 600;
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.boldItalic {
  font-weight: 700;
  font-style: italic;
}

.extraBold {
  font-weight: 800;
}

.extraBoldItalic {
  font-weight: 800;
  font-style: italic;
}

.black {
  font-weight: 900;
}

.blackItalic {
  font-weight: 900;
  font-style: italic;
}

.colorWhite {
  color: #ffffff;
}

.colorWhiteBone {
  color: #f3f1f1;
}

.colorYellow {
  color: #f6cc2c;
}

.colorBlue {
  color: #152046;
}

.colorGrey {
  color: #273340;
}

.colorPurpleLight {
  color: #96a4d3;
}

.colorBrown {
  color: #aa8f76;
}

.colorCyan {
  color: #307981;
}

.colorRed {
  color: #db4833;
}

.colorBlack {
  color: #000000;
}

.colorBgContact {
  background-color: #b8a38c;
}

/* Effects */

//efecto para la seccion hero
.slide-in-bottom {
  animation: slide-in-bottom 0.5s backwards;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom-delay {
  animation: slide-in-bottom 0.6s backwards;
}

@keyframes slide-in-bottom-delay {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//efecto para la presentacion
.slide-in-blurred-left {
  animation: slide-in-blurred-left 0.6s both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;

  @media (max-width: $bp-mobile) {
    animation-range: entry 0% cover 60%;
  }
}

@keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 0.5s both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

  @media (max-width: $bp-mobile) {
    animation-range: entry 0% cover 50%;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left-btn {
  animation: slide-in-left 0.5s both;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes slide-in-left-btn {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

  @media (max-width: $bp-mobile) {
    animation-range: entry 0% cover 40%;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

//efecto generales
.slide-in-blurred-bottom {
  animation: slide-in-blurred-bottom 0.6s both;
  animation-timeline: view();
  animation-range: entry 0% cover 90%;

  @media (max-width: $bp-mobile) {
    animation-range: entry 0% cover 50%;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-bottom-view {
  animation: slide-in-bottom 0.5s both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;

  @media (max-width: $bp-mobile) {
    animation-range: entry 0% cover 30%;
  }
}

@keyframes slide-in-bottom-view {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bck-center {
  animation: slide-in-bck-center 0.7s both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

  @media (max-width: $bp-mobile) {
    animation-range: entry 0% cover 70%;
  }
}

@keyframes slide-in-bck-center {
  0% {
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

.navbarSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 0.75rem;
  position: fixed;
  z-index: 4;

  .conteinerNavbar {
    width: auto;
    height: auto;
    // background-color: #307981;

    @media (max-width: $bp-mobile) {
      width: 90%;
      height: auto;
      margin-top: 0.5rem;
    }

    .navbar {
      width: auto;
      height: auto;
      padding: 8px 8px;
      background-color: #ffffff;
      border-radius: 24px;

      .p-menubar-item-content {
        border-radius: 24px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #888888;

          .p-menubar-item-label {
            color: #ffffff; // cambia a blanco al hacer hover sobre el item
            font-weight: 500;
          }

          .p-menubar-item-icon {
            color: #ffffff;
            font-weight: 500;
          }
        }

        // Estado activo/seleccionado
        // &.p-menuitem-active,
        // &.active {
        //   background-color: #152046 !important;

        //   .p-menubar-item-label {
        //     color: #ffffff;
        //     font-weight: 500;
        //   }

        //   .p-menubar-item-icon {
        //     color: #ffffff;
        //     font-weight: 500;
        //   }
        // }
      }

      // Estado activo/seleccionado
      .p-menubar-item.active-route {
        .p-menubar-item-content {
          background-color: #152046 !important;
          .p-menubar-item-label,
          .p-menubar-item-icon {
            font-weight: 500;
            color: white !important;
          }
        }
      }

      // .p-menubar-item.active {
      //   .p-menubar-item-content {
      //     background-color: #152046 !important;
      //     .p-menubar-item-label,
      //     .p-menubar-item-icon {
      //       font-weight: 500;
      //       color: white !important;
      //     }
      //   }
      // }

      .p-menubar-item-label {
        color: #000;
        transition: color 0.3s ease;
      }
    }
  }
}

.heroSection {
  .conteinerBg {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.1875rem;

    @media (max-width: $bp-mobile) {
      gap: 1.75rem;
    }

    .imagebg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      background-image: url('/src/assets/images/img_home_HeroSection.jpg');
      background-size: cover;
      background-position: center;
      z-index: -1;
    }

    // .backgroundVideo {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100vh;
    //   object-fit: cover;
    // }

    .content {
      width: 75%;
      height: 35%;
      // background-color: #0006;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      text-align: center;
      gap: 12px;
      // box-shadow: 0 0 40.5px #96a4d3;
      // backdrop-filter: blur(8px); // desenfoque del fondo

      .break {
        display: none;
      }

      @media (max-width: $bp-mobile) {
        width: 90%;
        height: auto;
        // margin-top: 3rem;

        h1 {
          .break {
            display: block;
          }
        }
      }
    }

    .button {
      .cta {
        width: auto;
        height: auto;
        background-color: #f6cc2c;
        border: none;
        border-radius: 24px;
        margin: 0;
        padding: 0;
        padding: 0.5rem 1rem;
        box-shadow: 0 0 10.5px #fff;

        .p-button-label {
          font-size: 1.938rem;
          font-family: 'Poppins', sans-serif;
          // font-weight: 900;
          // font-style: italic;
          color: #152046;

          @media (max-width: $bp-mobile) {
            font-size: 1rem;
          }
        }
      }

      .cta:hover {
        background-color: #152046;
        box-shadow: 0 0 40px #ffffff;
        border: 1px solid #ffffff;
        transform: scale(1.05);
        transition: transform 0.3s ease;
        will-change: transform;

        .p-button-label {
          font-size: 1.938rem;
          font-family: 'Poppins', sans-serif;
          font-weight: 900;
          font-style: italic;
          color: #f6cc2c;

          @media (max-width: $bp-mobile) {
            font-size: 1rem;
          }
        }
      }

      .cta:active {
        background-color: #96a4d3;
        .p-button-label {
          color: #fff;
        }
      }
    }
  }
}

.presentationSection {
  width: 100%;
  height: auto;
  overflow: clip;
  padding: 3rem 0;

  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    .content {
      width: 737px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 3rem;

      @media (max-width: $bp-mobile) {
        align-items: center;
      }

      .title {
        h2 {
          // background-image: linear-gradient(to right, #96a4d3 0%, #152046 51%);
          // color: transparent;
          // -webkit-background-clip: text;
          // background-clip: text;
          color: #152046;

          span {
            color: #3838ef;
          }
        }

        @media (max-width: $bp-mobile) {
          text-align: center;
        }
      }

      .description {
        p {
          margin: 0;
        }

        @media (max-width: $bp-mobile) {
          width: 90%;
          text-align: center;
        }
      }

      .buttons {
        width: auto;
        height: auto;
        display: flex;
        gap: 2.25rem;

        @media (max-width: $bp-mobile) {
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;
        }

        .cta {
          background-color: #f6cc2c;
          // color: #152046;
          border-color: #f6cc2c;
          border-radius: 1.5rem;
          margin: 0;
          padding: 0;
          padding: 0.5rem 1rem;

          .p-button-label,
          .p-button-icon {
            color: #152046;
          }

          // .p-button-icon {
          // font-weight: 800;
          // }
        }

        .cta:hover {
          background-color: #4f4f4f;
        }

        .cta:active {
          background-color: #888888;
          color: #1e1e1e;
        }

        .secondary {
          background-color: #ffffff;
          color: #1e1e1e;
          border-color: #1e1e1e;
          border-radius: 1.5rem;
          margin: 0;
          padding: 0;
          padding: 0.5rem 1rem;

          // .p-button-label {
          //   font-weight: 800;
          //   // font-style: italic;
          // }

          // .p-button-icon {
          //   font-weight: 800;
          // }
        }

        .secondary:hover {
          background-color: #d1d1d1;
        }

        .secondary:active {
          background-color: #6d6d6d;
          color: #fff;
        }
      }
    }

    .videoConteiner {
      width: 28.125rem;
      height: 28.125rem;
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 40px #1e1e1e;
      // position: relative;

      @media (max-width: $bp-mobile) {
        display: none;
      }

      // .video {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }

      .imgbg {
        width: 100%;
        height: 100%;
        background-image: url('/src/assets/images/img_home_PresentationSection.png');
        background-size: cover;
        background-position: center -1.5rem;
      }
    }
  }
}

.aboutmeSection {
  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 4rem;
    background-image: url('/src/assets/images/img_home_AbouhMeSection.png');
    background-size: cover;
    background-position: center;
    padding: 2rem 0;

    .title {
      h2 {
        .break {
          display: none;
          @media (max-width: $bp-mobile) {
            display: block;
          }
        }
      }
    }

    .imageConteiner {
      width: 23.75rem;
      height: 19.4375rem;
      box-shadow: 0 0 30px #0008;
      background-image: url('/src/assets/images/imgCV-homePage.jpeg');
      overflow: hidden;
      background-size: cover;
      background-position: top;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #0000 50%, #000 100%);
        z-index: 1;
      }

      @media (max-width: $bp-mobile) {
        width: 70%;
        height: 40vh;
      }
    }

    .button {
      .cta {
        background-color: #f6cc2c;
        color: #ffffff;
        border-color: #f6cc2c;
        border-radius: 1.5rem;
        margin: 0;
        padding: 0;
        padding: 0.5rem 1rem;
        text-decoration: none;

        .p-button-label,
        .p-button-icon {
          color: #152046;
        }
      }

      .cta:hover {
        background-color: #4f4f4f;
      }

      .cta:active {
        background-color: #888888;
        color: #1e1e1e;
      }
    }
  }
}

.tecnologiesSection {
  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    overflow: clip;

    .list {
      width: 90%;
      display: flex;
      justify-content: center;
      gap: 2rem;

      @media (max-width: $bp-mobile) {
        align-items: center;
        flex-wrap: wrap;
      }

      .item {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        padding: 0.5rem 1rem;
        margin: 0;
      }
    }
  }
}

.projectsSection {
  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    overflow: clip;

    .content {
      width: 80%;
      height: auto;
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 2rem;

      @media (max-width: $bp-mobile) {
        width: 90%;
      }

      // .p-carousel {
      //   width: 100%;
      //   height: auto;
      //   display: flex;
      //   align-items: center;

      //   .p-carousel-content-container {
      //     width: 100%;
      //     height: 100%;
      //     display: flex;
      //     align-items: center;
      //     overflow: visible;

      //     @media (max-width: $bp-mobile) {
      //       align-items: center;
      //     }

      //     .p-carousel-content {
      //       width: 100%;
      //       height: 100%;

      //       @media (max-width: $bp-mobile) {
      //         width: 100%;
      //         display: flex;
      //       }

      //       .p-carousel-viewport {
      //         width: 100%;
      //         height: 100%;
      //         display: flex;
      //         align-content: center;
      //         justify-content: center;
      //         overflow: visible;

      //         @media (max-width: $bp-mobile) {
      //           width: 100%;
      //           overflow: hidden;
      //           align-items: center;
      //           justify-content: center;
      //         }

      //         .p-carousel-item {
      //           width: 100%;
      //           height: 100%;
      //           display: flex;
      //           justify-content: center;

      //           .project-item {
      //             width: 100%;
      //             height: 100%;
      //             display: flex;
      //             align-items: center;
      //             justify-content: center;
      //           }

      //           @media (max-width: $bp-mobile) {
      //             align-content: center;
      //             overflow: visible;

      //             .project-item {
      //               width: 49%;
      //               height: 100%;
      //               display: flex;
      //               flex-direction: column;
      //               align-items: center;
      //               justify-content: center;
      //             }
      //           }

      //           .card {
      //             width: 100%;
      //             height: auto;
      //             border-radius: 1.5rem;
      //             overflow: hidden;

      //             box-shadow: 0 0 30px #0008;
      //             box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      //             transition:
      //               transform 0.3s ease,
      //               box-shadow 0.3s ease;

      //             @media (max-width: $bp-mobile) {
      //               width: 78%;
      //               height: 98%;
      //               border: 1px solid #000;
      //               box-shadow: none;
      //               transition: none;
      //             }

      //             &:hover {
      //               transform: translateY(-10px);
      //               box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      //               @media (max-width: $bp-mobile) {
      //                 transform: none;
      //                 box-shadow: none;
      //               }
      //             }

      //             .p-card-header {
      //               width: 100%;
      //               height: 11.25rem;
      //               background-color: #000;
      //               @media (max-width: $bp-mobile) {
      //               }
      //               .cardImage {
      //                 width: 100%;
      //                 height: 100%;
      //                 background-size: cover;
      //                 background-position: center;
      //               }
      //             }

      //             // .cardImage {
      //             //   width: 100%;
      //             //   height: 20rem;
      //             //   object-fit: cover;
      //             // }

      //             .p-card-content {
      //               // display: none; /* Oculta el contenido no utilizado */
      //             }

      //             .cardTitle {
      //               width: 100%;
      //               height: 100%;
      //               display: flex;
      //               align-items: center;
      //               justify-content: center;
      //               text-align: center;
      //               color: #152046;

      //               @media (max-width: $bp-mobile) {
      //                 // height: 10%;
      //               }
      //             }

      //             .p-card-body {
      //               height: 100%;
      //               padding: 1rem 0.5rem;
      //               display: flex;
      //               flex-direction: column;
      //               align-items: center;
      //               justify-content: center;

      //               @media (max-width: $bp-mobile) {
      //                 width: auto;
      //                 height: 5rem;
      //                 .p-card-title {
      //                   span {
      //                     height: auto;
      //                   }
      //                 }
      //               }
      //             }
      //           }
      //         }
      //       }
      //     }
      //   }

      //   .p-carousel-indicator {
      //     .p-carousel-indicator-button {
      //       background: #1e1e1e;
      //     }
      //   }
      //   .p-carousel-indicator-active {
      //     .p-carousel-indicator-button {
      //       background: #f6cc2c;
      //     }
      //   }
      // }

      .p-carousel {
        width: 100%;
        height: auto;

        .project-item {
          width: 100%;
          height: 100%;
        }
      }

      .card {
        width: 25.708125rem;
        // height: 33.75rem;
        height: 100%;
        border-radius: 1.5rem;
        overflow: hidden;
        background-color: #1e1e1e;
        color: white;
        display: flex;
        // flex-direction: column;
        // gap: 1.25rem;

        @media (max-width: $bp-mobile) {
          width: 100%;
        }

        .p-card-header {
          width: 100%;
          height: 11.25rem;
          display: flex;

          .cardImage {
            width: 100%;
            height: 11.25rem;
            background-size: cover;
            background-position: center;
          }
        }

        .p-card-body {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          padding: 1rem;
          gap: 1.25rem;

          .p-card-title {
            span {
              @media (max-width: $bp-mobile) {
                // font-size: 1.25rem;
              }
            }
          }
        }

        .p-card-content {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;

          h2 {
            span {
              @media (max-width: $bp-mobile) {
                font-size: 2rem;
              }
            }
          }

          .technologies {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-wrap: wrap;
            gap: 0.5rem;

            .item {
              width: fit-content;
              height: fit-content;
              padding: 0.25rem 0.5rem;
              background-color: #f6cc2c21;
              border-radius: 1.5rem;
              span {
                @media (max-width: $bp-mobile) {
                  font-size: 0.75rem;
                }
              }
            }
          }
          span {
            @media (max-width: $bp-mobile) {
              font-size: 0.75rem;
            }
          }
        }

        .p-card-footer {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: end;

          .p-button {
            border-radius: 1.5rem;
            background-color: #f6cc2c;
            border-color: #f6cc2c;
            color: #152046;

            @media (max-width: $bp-mobile) {
              padding: 0.25rem 0.5rem;
            }

            .p-button-label {
              font-weight: 700;
              font-size: 1.25rem;

              @media (max-width: $bp-mobile) {
                font-size: 1rem;
              }
            }
          }
        }
      }

      .seeMore {
        width: 100%;
        // width: 25.708125rem;
        height: 100%;
        background-color: #3838ef !important;
        cursor: pointer;

        :hover {
          transition:
            color 0.5s ease-in,
            background-color 0.5s ease-in;
          background-color: #f6cc2c;
          span {
            color: #3838ef;
          }
        }

        .p-card-content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }

      .p-carousel-indicator-active {
        .p-carousel-indicator-button {
          background-color: #f6cc2c !important;
        }
      }
    }

    .button {
      .cta {
        background-color: #1e1e1e;
        color: #ffffff;
        border-color: #1e1e1e;
        border-radius: 12px;
        margin: 0;
        padding: 0;
        padding: 0.5rem 1rem;

        .p-button-label {
          font-weight: 800;
          font-style: italic;
        }

        .p-button-icon {
          font-weight: 800;
        }
      }

      .cta:hover {
        background-color: #4f4f4f;
      }

      .cta:active {
        background-color: #888888;
        color: #1e1e1e;
      }
    }
  }
}

.contactSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // overflow: clip;

  .conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    .content {
      width: 80%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 1px solid #000;
      gap: 4rem;

      @media (max-width: $bp-mobile) {
        border-radius: 12px;
        // background-image: url('/src/assets/images/bgContact.png');
      }

      .videoConteiner {
        width: 636px;
        height: 563px;
        border-radius: 1.5rem;
        overflow: hidden;
        box-shadow: 0 0 10.5px #282a3e;

        @media (max-width: $bp-mobile) {
          display: none;
        }

        .video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .optionsContainer {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        // flex-wrap: wrap;
        // padding: 2rem 0;
        // padding-right: 2rem;
        gap: 1.5rem;

        @media (max-width: $bp-mobile) {
          width: 100%;
          padding-right: 0;
        }

        .double {
          grid-column: span 2;
          width: 100% !important;
        }

        .option {
          width: 10.75rem;
          height: 10.75rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 1.5rem;
          gap: 1rem;
          background-color: #b8a38c;
          box-shadow:
            5px 5px 12px #ffe3c3 inset,
            -5px -5px 12px #706355 inset;

          @media (max-width: $bp-mobile) {
            // width: 7.4375rem;
            width: 100%;
            height: 7.4375rem;
            // background-color: #b8a38c75;
            // backdrop-filter: blur(3px); // desenfoque del fondo
          }

          .icon {
            i {
              font-size: 2.5rem;
            }
          }

          &:hover {
            cursor: pointer;
            background-color: #967660;
            box-shadow:
              5px 5px 12px #3c2f26 inset,
              -5px -5px 12px #f0bd9a inset;
            transition: all 0.5s ease;

            @media (max-width: $bp-mobile) {
              background-color: #96766075;
              backdrop-filter: blur(3px); // desenfoque del fondo
            }
          }

          &:active {
            background-color: #967660;
            box-shadow:
              5px 5px 12px #3c2f26 inset,
              -5px -5px 12px #f0bd9a inset;
            transition: all 0.5s ease;

            @media (max-width: $bp-mobile) {
              background-color: #96766075;
              backdrop-filter: blur(3px); // desenfoque del fondo
            }
          }
        }
      }
    }
  }
}

.footerSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #152046;
  gap: 1.5rem;
  padding: 4rem 5rem 1.5rem 5rem;

  @media (max-width: $bp-mobile) {
    padding: 2rem 1rem 1.5rem 1rem;
  }

  .container {
    // width: 80.875rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    color: white;
    gap: 5rem;

    @media (max-width: $bp-mobile) {
      width: 100%;
      flex-direction: column;
      // padding: 1rem;
      gap: 2rem;
    }

    .phrase {
      width: auto;
      height: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      // box-shadow: 0 0 45px #1e1e1e;
      // background-color: #fff5;
      // backdrop-filter: blur(6px); // desenfoque del fondo
      padding: 1.5rem 0;
      // color: #1e1e1e;

      @media (max-width: $bp-mobile) {
        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: 0 0 12px #1e1e1e;
        padding: 1rem 0;
      }
    }

    .logo {
      width: auto;
      height: auto;

      @media (max-width: $bp-mobile) {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .data {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      @media (max-width: $bp-mobile) {
        p {
          display: none;
        }

        .inline p {
          display: block;
        }
      }

      .inline {
        display: flex;
        gap: 0.75rem;
        align-items: center;
        justify-content: start;

        i {
          font-size: 2rem;
        }
      }
    }

    .links {
      width: 100%;
      height: auto;
      display: flex;
      gap: 5rem;

      @media (max-width: $bp-mobile) {
        justify-content: space-between;
      }

      .navigationLinks {
        display: flex;

        ol {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
          }
        }
      }

      .followmeLinks {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .items {
          display: flex;
          gap: 0.75rem;
          a {
            color: white;
            font-size: 2rem;
            text-decoration: none;
          }
          // ol {
          //   margin: 0;
          //   padding: 0;

          //   li {
          //     list-style: none;
          //     text-decoration: none;
          //     a {
          //     }
          //   }
          // }
        }
      }
    }

    .content {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1.5rem 0;

      @media (max-width: $bp-mobile) {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 1rem;
        // background-color: #fff7;
        backdrop-filter: blur(6px); // desenfoque del fondo
        gap: 2rem;

        .data {
          p {
            margin: 0;
          }
        }
      }

      .data {
        text-align: center;
      }

      .linksConteiner {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 4rem;

        @media (max-width: $bp-mobile) {
          width: 100%;
        }

        .navigationLinks {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .title {
            width: auto;
          }

          .items {
            ol {
              width: auto;
              height: auto;
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;
              gap: 1rem;
              margin: 0;
              padding: 0;
            }

            li {
              list-style: none;

              a {
                text-decoration: none;
                color: inherit;
              }

              a:hover {
                text-decoration: underline;
                // color: #1e1e1e;
                font-style: italic;
                cursor: pointer;
              }
            }
          }
        }

        .followmeLinks {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .title {
            width: auto;
          }

          .items {
            ol {
              width: auto;
              height: auto;
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;
              gap: 1rem;
              margin: 0;
              padding: 0;
            }

            li {
              list-style: none;

              a {
                color: inherit;
                text-decoration: none;
              }

              a:hover {
                text-decoration: underline;
                // color: #1e1e1e;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: white;
  }

  .copyright {
    color: white;

    .break {
      display: none;
      @media (max-width: $bp-mobile) {
        display: block;
      }
    }
  }
}

.viewpage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 7.875rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    // Se mueve la mitad de la longitud total de la cinta de iconos
    transform: translateX(-50%);
  }
}

@keyframes borderShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.aboutMePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.875rem;

  .heroSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .containerBg {
      height: 40%;
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: center;
      text-align: center;
      padding: 1.25rem;

      background-image: url('/src/assets/images/imgHeroBg-aboutMePage.jpg');
      background-size: cover;
      background-position: center;
    }

    .containerContent {
      height: 60%;
      width: 75%;
      display: flex;
      align-items: center;
    }
  }

  .technologiesSection {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      .title {
        text-align: center;
      }

      .technologies-container {
        width: 100%;
        height: auto;
        // overflow: hidden;
        // position: relative;
        display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-wrap: wrap;
        // -webkit-mask-image: linear-gradient(
        //   to right,
        //   transparent,
        //   black 20%,
        //   black 80%,
        //   transparent
        // );
        // mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);

        .technologies {
          width: auto; // Asegura que el contenedor se expanda
          height: auto;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          // animation: scroll 15s linear infinite; // Ajusta la duración aquí
          gap: 4rem;

          .technology {
            width: fit-content;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            &:hover {
              transform: scale(1.1);
              transition: transform 0.3s ease-in;
            }

            transition: transform 0.3s ease-out;

            .icon-svg {
              width: 5rem;
              height: 5rem;
            }

            span {
              width: max-content;
            }
          }
        }
      }
    }
  }

  .cardsSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cardsContainer {
      width: 90%;
      height: 100%;
      // background-color: #152046;
      display: flex;
      gap: 3rem;

      @media (max-width: $bp-mobile) {
        width: 100%;
        padding: 0 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .motivationContainer {
        width: 50%;
        height: auto;
        text-align: start;
        background: linear-gradient(-62deg, #ff0000 0%, #000000 100%);
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 1rem;
        border-radius: 1.5rem;
        @media (max-width: $bp-mobile) {
          width: 100%;
        }

        .iconContainer {
          width: auto;
          height: auto;
          border: 5px solid #fff;
          padding: 1rem;
          border-radius: 50%;
          background-color: #ffffff40;

          .icon {
            width: 5.72rem;
            height: 5.72rem;
            background-image: url('/src/assets/icons/icon_AboutMePage_Motivation.png');
            background-size: cover;
            background-position: center;
          }
        }
      }

      .focusContainer {
        width: 50%;
        height: auto;
        text-align: start;
        background: linear-gradient(-118deg, #000000 0%, #ff0000 100%);
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 1rem;
        border-radius: 1.5rem;
        @media (max-width: $bp-mobile) {
          width: 100%;
        }

        .iconContainer {
          width: auto;
          height: auto;
          border: 5px solid #fff;
          padding: 1rem;
          border-radius: 50%;
          background-color: #ffffff40;

          .icon {
            width: 4.8075rem;
            height: 5.72rem;
            background-image: url('/src/assets/icons/icon_AboutMePage_ProfessionalFocus.png');
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }

  .softSkillsSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    .containerSoftSkills {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      gap: 3rem;

      .gridContainer {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;

        @media (max-width: $bp-mobile) {
          grid-template-columns: repeat(1, 1fr);
        }

        .item {
          width: 100%;
          height: 16.84375rem;
          border-radius: 1.5rem;
          overflow: hidden;
          box-shadow: 0 0 10.5px #1e1e1e;
          position: relative; /* 1. Posicionamiento relativo para el contenedor */
          display: flex; /* Usamos flexbox para alinear el texto */
          align-items: flex-end; /* Alinea el texto en la parte inferior */
          justify-content: center; /* Centra el texto horizontalmente */
          padding: 1.75rem;

          /* 3. El degradado como un pseudo-elemento */
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #0000 50%, #000 100%);
            z-index: 2; /* Se coloca sobre el video */
            border-radius: 12px;
          }

          .backgroundVideo {
            position: absolute; /* 4. El video se posiciona para llenar el div */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1; /* Se coloca en el fondo */
          }

          h4 {
            position: relative; /* 2. El texto se posiciona relativo al flex container */
            z-index: 3; /* Se coloca sobre el degradado */
            text-align: center;
          }
        }
      }
    }
  }

  .preFooterSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .containerPreFooter {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      background-image: url('/src/assets/images/imgPreFooterBg-aboutMePage.png');
      background-size: cover;
      background-position: right;
      border-radius: 1.5rem;
      padding: 2.75rem 3.75rem;

      @media (max-width: $bp-mobile) {
        background-position: left;
        padding: 2.75rem 2.5rem;
        text-align: center;
      }

      .content {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 3rem;

        .cta {
          position: relative; /* Necesario para el pseudo-elemento */
          width: fit-content;
          height: auto;
          background-color: transparent;
          padding: 0.5rem 1.5rem;
          border: 3px solid transparent;
          border-radius: 1.5rem;
          z-index: 1;

          /* El pseudo-elemento crea el borde degradado */
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 1.5rem;
            padding: 3px; /* Grosor del borde */
            background: linear-gradient(to right, #fff 50%, #c837ab 100%);
            -webkit-mask:
              linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
            z-index: -1;
          }

          &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: 1.5rem;
              padding: 3px;
              background: linear-gradient(135deg, #fff, #c837ab);
              background-size: 200% 200%;
              animation: borderShift 3s ease infinite;

              -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
              -webkit-mask-composite: destination-out;
              mask-composite: exclude;
              z-index: -1;
            }
          }

          transition: transform 0.3s ease-out;

          .p-button-label {
            font-family: 'Poppins', sans-serif;
            font-size: 1.9375rem;
            font-weight: 700;
            color: #fff;
          }
        }
      }
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  gap: 7.875rem;
}

.projectsPage {
  width: 100%;
  // height: 100vh;
  height: auto;

  .heroSection {
    width: 100%;
    height: 21.365875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .containerBg {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
      justify-content: center;
      text-align: center;
      padding: 1.25rem;

      background-image: url('/src/assets/images/imgHeroBg-projectsPage.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  .projectGallerySection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    // background-color: #307981;

    .projectGalleryContainer {
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      text-align: center;
      gap: 3rem;

      @media (max-width: $bp-mobile) {
        width: 100%;
        padding: 0 1rem;
      }

      .gridContainer {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 25.708125rem);
        // grid-template-rows: repeat(3, 16.875rem);
        gap: 1.5rem;

        justify-content: center;
        align-items: start;

        @media (max-width: $bp-mobile) {
          grid-template-columns: repeat(1, 1fr);
        }

        .card {
          width: 25.708125rem;
          // height: 33.75rem;
          height: 100%;
          border-radius: 1.5rem;
          overflow: hidden;
          background-color: #1e1e1e;
          color: white;
          display: flex;
          // flex-direction: column;
          // gap: 1.25rem;

          @media (max-width: $bp-mobile) {
            width: 100%;
          }

          &:hover {
            transition: all 0.3s ease-in;
            transform: scale(1.05);
            box-shadow: 0 8px 10.5px #000;
          }

          .p-card-header {
            width: 100%;
            height: 11.25rem;
            display: flex;

            .cardImage {
              width: 100%;
              height: 11.25rem;
              background-size: cover;
              background-position: center;
            }
          }

          .p-card-body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1.25rem;
            text-align: start;
          }

          .p-card-title {
            span {
              @media (max-width: $bp-mobile) {
                font-size: 1.25rem;
              }
            }
          }

          .p-card-content {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            // text-align: start;

            .technologies {
              width: 100%;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: start;
              flex-wrap: wrap;
              gap: 0.5rem;

              .item {
                width: fit-content;
                height: fit-content;
                padding: 0.25rem 0.5rem;
                background-color: #f6cc2c21;
                border-radius: 1.5rem;
              }
            }
          }

          .p-card-footer {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: end;

            .p-button {
              border-radius: 1.5rem;
              background-color: #f6cc2c;
              border-color: #f6cc2c;
              color: #152046;

              .p-button-label {
                font-weight: 700;
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }
  }

  .preFooterSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $bp-mobile) {
      padding: 0 1rem;
    }

    .containerPreFooter {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('/src/assets/images/imgPreFooterBg-projectsPage.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 1.5rem;
      padding: 2.75rem 3.75rem;
      position: relative;

      @media (max-width: $bp-mobile) {
        width: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #0000 0%, #000 100%);
        z-index: 2; /* Se coloca sobre el video */
        border-radius: 1.5rem;
      }

      .content {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
        z-index: 3;

        h3 {
          @media (max-width: $bp-mobile) {
            font-size: 1.5rem;
            font-style: normal;
          }
        }

        .cta {
          position: relative; /* Necesario para el pseudo-elemento */
          width: fit-content;
          height: auto;
          background-color: transparent;
          padding: 0.5rem 1.5rem;
          border: 3px solid transparent;
          border-radius: 1.5rem;
          z-index: 1;

          /* El pseudo-elemento crea el borde degradado */
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 1.5rem;
            padding: 3px; /* Grosor del borde */
            background: linear-gradient(to right, #fff 50%, #7b00ff 100%);
            -webkit-mask:
              linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
            z-index: -1;
          }

          &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: 1.5rem;
              padding: 3px;
              background: linear-gradient(135deg, #fff, #7b00ff);
              background-size: 200% 200%;
              animation: borderShift 3s ease infinite;

              -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
              -webkit-mask-composite: destination-out;
              mask-composite: exclude;
              z-index: -1;
            }
          }

          transition: transform 0.3s ease-out;

          .p-button-label {
            font-family: 'Poppins', sans-serif;
            font-size: 1.9375rem;
            font-weight: 700;
            color: #fff;
          }
        }
      }
    }
  }
}

.contactMePage {
  width: 100%;
  // height: 100vh;
  height: auto;

  .heroSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .containerBg {
      height: 40%;
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: center;
      text-align: center;
      padding: 1.25rem;

      background-image: url('/src/assets/images/imgHeroBg-contactMePage.jpg');
      background-size: cover;
      background-position: center;
      z-index: 1;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #0000 50%, #000 100%);
        z-index: 2; /* Se coloca sobre el video */
      }

      h2 {
        position: relative; /* 2. El texto se posiciona relativo al flex container */
        z-index: 3; /* Se coloca sobre el degradado */
        text-align: center;
      }

      h4 {
        position: relative; /* 2. El texto se posiciona relativo al flex container */
        z-index: 3; /* Se coloca sobre el degradado */
        text-align: center;
      }
    }

    .containerContent {
      height: 60%;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 3rem;
    }
  }

  .contactSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .containerContact {
      width: 72%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 2.5rem;

      @media (max-width: $bp-mobile) {
        width: 100%;
        padding: 0 1rem;
      }

      .content {
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 4rem;

        @media (max-width: $bp-mobile) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .gridContainer {
          width: auto;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(2, 10.75rem);
          grid-template-rows: repeat(3, 10.75rem);
          gap: 1.5rem;
          // background-color: #fff;
          // border-radius: 0.75rem;
          // border: 1px solid #000;
          // padding: 2rem;

          @media (max-width: $bp-mobile) {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
          }

          .item {
            width: 100%;
            height: 100%;
            background-color: #96a4d3;
            box-shadow:
              5px 5px 12px #f0ffff inset,
              -5px -5px 12px #3c4254 inset;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.625rem;

            @media (max-width: $bp-mobile) {
              width: 100%;
            }

            i {
              font-size: 2.5rem;
            }

            &:hover {
              cursor: pointer;
              background-color: #282a3e;
              box-shadow:
                5px 5px 12px #101119 inset,
                -5px -5px 12px #404363 inset;
              transition: all 0.5s ease;
            }
          }
        }

        .phaseContainer {
          width: 100%;
          height: 35rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 1.5rem;
          gap: 3rem;
          padding: 2rem;
          background-image: url('/src/assets/images/imgContactBg-contactMePage.avif');
          background-size: cover;
          background-position: center;
          z-index: 1;
          position: relative;

          @media (max-width: $bp-mobile) {
            display: none;
          }

          &::after {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, #0000 50%, #000 100%);
            z-index: 2; /* Se coloca sobre el video */
            border-radius: 1.5rem;
          }

          h2 {
            position: relative; /* 2. El texto se posiciona relativo al flex container */
            z-index: 3; /* Se coloca sobre el degradado */
            // text-align: center;
          }
        }
      }
    }
  }

  .preFooterSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $bp-mobile) {
      padding: 0 1rem;
    }

    .containerPreFooter {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('/src/assets/images/imgPreFooterBg-contactMePage.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 12px;
      // padding: 2.75rem 3.75rem;
      padding: 2.75rem 5rem;
      position: relative;

      @media (max-width: $bp-mobile) {
        width: 100%;
        padding: 2.75rem 2.5rem;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #0000 0%, #000 100%);
        z-index: 2; /* Se coloca sobre el video */
        border-radius: 12px;
      }

      .content {
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
        z-index: 3;

        h3 {
          @media (max-width: $bp-mobile) {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}

p {
  margin: 0;
}

.p-dialog {
  width: 50%;
  height: auto;

  .p-dialog-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;

    .buttonsContainer {
      width: 100%;
      height: auto;
      display: flex;
      gap: 0.5rem;
      .p-button {
        .p-button-label {
          font-weight: 600;
        }
      }
    }
  }
}

.primary {
  background-color: #f6cc2c !important;
  border-color: #f6cc2c !important;
  color: #101119 !important;
  border-radius: 1.5rem !important;
  padding: 0.5rem 1.5rem !important;
}

.secondary {
  background-color: white !important;
  border-color: #101119 !important;
  color: #101119 !important;
  border-radius: 1.5rem !important;
  padding: 0.5rem 1.5rem !important;
}
